.dsc-card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 200px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-left: 4px solid rgb(32, 124, 178);
    transition: 0.1s all ease-in-out;
    margin: 1rem auto;

    &__img {
        height: 100px;
        width: 100px;
        padding: 0.5rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
        }
    }

    &__info {
        border-left: 1px solid rgba(0, 0, 0, 0.25);
        padding: 0.5rem;

        p {
            opacity: 0.7;
            margin: 0;
        }
    }

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}